body {
	background-color: #000000;
}

h1{
	font-size: 150px;
	color: #202020;
	text-align: center;
	font-family: Verdana;
}

a {
	color: #DDDDDD;
	text-align:center; 
	font-family:verdana;
	text-decoration:none;
	font-size: 30pt;
}



h2 {
	color: #DDDDDD;
	text-align:center; 
	font-family:verdana;
	text-decoration:none;
	font-size: 30pt;
}

h3 {
	text-align:center;
	color:#f0f0f0;
}

p{
	text-align: center;
	font-size: 16pt;
}

#name {
	background-image: url(clouds.JPG);
}

#section1 {
	float:left;
	text-align: center;
	padding-left: 300px;
	padding-bottom: 50px;
}

#section2 {
	float:right;
	text-align: center;
	padding-right: 300px;
	padding-bottom: 50px;

}

#section3{
	float:left;
	text-align:center;
	color:#c0c0c0;
	padding: 30px;
}

#footer{
	text-align:center;
	color:#c0c0c0;
}